body{
    background-color: rgb(240, 235, 235);
}

.img-border{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

main{
    position: absolute;
    left: 0px;
    top: 0px;
    
}

#imgPrincipal{
    width: 35vw;
    
}

#img-logo{
    position:absolute;
    margin-top: 55vh;
    margin-left: -28vw;
    width: 10vw;
    
}

.container-login{  
    background-color: white; 
    margin-left:12vw;
    margin-top:7vw;
    padding-right: 40vw;
       
}


.container-form{
    
}