body{
    display: flex;
    background-color: rgb(240, 235, 235);
    background-image: url(../imgs/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    object-fit: contain;
}

main{
    display:flex
}

.container{
    display: flex;
    margin-left: 11vw;
    margin-top: 10vh;  
   
}

.sla{
    background: url(../imgs/imagemPrincipalLogin.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size:contain;
}

.containerLogin{ 
    padding: 14vw;
    padding-right: 18vw;
    background-image: url(../imgs/visionRevelarFuturoLogo.png);
    background-repeat: no-repeat;
    background-size:10vw ;
    background-position-x: 7vw;
    background-position-y: 30vw;
}

.containerLogin h1, p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight: bold;
    font-size: 3vw;
    margin-left: -11vw;
}

.containerLogin p{
    font-weight: 500;
    font-size: 1.3vw;
    margin-top:1vw;
    margin-left:-9vw;
}

.containerLogin a{
    margin-left:-6vw;
    width: 8vw;
    padding: .8vw;
    background: white;
    color:black;
    font-size: 14px;
    border:none;
    border-radius: 15px;
    transition: 1s all;
    cursor:pointer;
    text-decoration: none;
    margin-bottom: -10vh;
}

.containerLogin a:hover{
    color:black;
    background:rgb(241, 241, 245);
    transform: scale(1.1);
}

.containerLogin img{
    position:absolute;
    width: 10vw;
    margin-top:10vw;
    left: 19vw;
}

.container-2{
   background-color:white;
   display:flex;
   padding-right: 38vw;
}

.container-2 img{
    position: absolute;
    width: 10vw;
    height: 7vh;
    margin-top: 4vh;
    margin-left: 13vw;
}

.container-2 label{
    background-color: white;
    position:absolute;
    font-size: 1.3vw;
	margin-left:15vw;
    margin-top:23vh;
}

.container-2 input{
    position:absolute;
    width: 20vw;
    height: 5vh;
    margin-left:8vw;
    margin-top:24vh;
    border-radius: 20px;
}

.form-space{
    margin-top: 10vh;
}
.form-space label{
    margin-left:16vw;
}

.form-space input{
    text-align: center;
}

.btn-form{
    position: absolute;
    width: 9vw;
    padding: .8vw;
    background:orange;
    color:white;
    font-size: 14px;
    border:none;
    border-radius: 15px;
    transition: 1s all;
    cursor:pointer;
    margin-left:13vw;
    margin-top:40vh;
}

.btn-form:hover{
    transform: scale(1.1);
}
/*
main{
    position: absolute;
    left: 0px;
    top: 0px;
    
}

#imgPrincipal{
    width: 35vw;
    
}

#img-logo{
    position: absolute;
    top: 36vw;
    left: 19.5vw;
    width: 10vw;
    min-width: 50px;
}

#img-logo2{
    position: absolute;
    top: 14vw;
    left: 56vw;
    width: 10vw;
    min-width: 50px; 
}

.container-login{  
    background-color: white; 
    background-image: ;
    margin-left:12vw;
    margin-top:7vw;
    padding-right: 40vw;
    padding-bottom:.01vh ;
    box-shadow: 0 0 1em black;
    display: flex;
}

 

.loginText-p{
    margin-top: 1vh;
    margin-left: 1.2vw;
    font-weight: 100;
    font-size:1.5vw;
}

.btn-space{
    
    margin-top: 65vh;
    margin-left:-90%;
    

}

.loginText-btn{
    width: 8vw;
    padding: .8vw;
    background: white;
    color:black;
    font-size: 14px;
    border:none;
    border-radius: 15px;
    transition: 1s all;
    cursor:pointer;
    display: block;
    margin-bottom: 1.5vh;
    min-width: 80px;
    text-decoration: none;
    
}

.loginText-btn:hover{
    color:black;
    background:rgb(241, 241, 245);
    transform: scale(1.1) ;
};

.label {
    position: absolute;
	display:block;
	font-size: 20px;
	margin: 5% 0 10px;
}


.input-padrao {
    text-align: center;
	display: block;
	margin: 0 0 20px;
	padding: 4px 20px;
	width: 15vw;
    border-radius: 20px;
    border-width:.1vw ;
    border-color:black;
    min-width: 90px;

}

.form-section1{
    position:absolute;
    left:55vw;
    top:42vh;
    
}

.form-section1 label{
    position:absolute;
    left: 4vw;
    background-color: white;
    top: -1.5vh;
    min-width: 50px;
}

.form-section2{
    position:absolute;
    left:55vw;
    top:50vh;
}

.form-section2 label{
    position:absolute;
    left: 5.7vw;
    background-color: white;
    top: -1.5vh;
    min-width: 50px;
}
